<div>
    <p class="first-line">Hogyan adhatok ki szállást ?</p>
    <dl>
        <dt><em>1.</em> regisztráljon majd jelentkezzen be</dt>
        <dt><em>2.</em> töltse ki a szükséges kérdőívet</dt>
        <dd><em>-</em> ezt <mark>ide kattintva</mark> vagy a <b class="thin-bold">Partnereknek</b> menüben tudja elérni</dd>
        <dt><em>3.</em> véglegesítse a meghirdetést az "Elküldés" gombra kattintva</dt>
        <dd><em>-</em> a hirdetés ellenőrzése és elfogadása után Ön hivatalosan is <b>Partner</b> lesz</dd>
    </dl>
    <br>
    <p class="first-line">Mi a teendőm partnerként ?</p>
    <dl>
        <dt>A magánszemélyek által kiadott szállásokat manuálisan kell kezelni</dt>
        <dt><em>tehát:</em>  jelezni kell a szállás megtelését, valamint az üresedését</dt>
        <dd><em>-</em> ezt fent megtalálható <b class="thin-bold">Partnereknek</b> menüben teheti meg</dd>
    </dl>
</div>