<div class="grid">
  <!--<mat-toolbar>
    <span>Szűrés:</span>
  </mat-toolbar>-->
  <!--<mat-toolbar *ngIf="accommodations && accommodations.length > 0">
      <span>Szűrés:</span>
    </mat-toolbar>-->

  <mat-card class="accommodation-card" *ngFor="let acco of (accommodations | async)">
    <img class="main-image" src="./assets/img/noimage.png">
    <mat-card-header>
      <mat-card-title>{{ acco.name }} id: {{ acco.id}}</mat-card-title>
      <mat-card-subtitle>{{ acco.place }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ acco.description }}
      </p>
    </mat-card-content>
    <p class="actions">
      <!--<button mat-button routerLink="/accommodations/{{acco.id}}">MEGTEKINTÉS</button>-->
      <button *ngIf="isLoggedIn" (click)="saveUrl()" mat-button
        [routerLink]="['../accommodations/' + acco.id]">MEGTEKINTÉS</button>
      <button *ngIf="!isLoggedIn" mat-button class="disabled" disabled>MEGTEKINTÉS</button>
    </p>
  </mat-card>
  <mat-paginator #paginator *ngIf="this.ss.countAccommodations" [length]="this.ss.countAccommodations" [pageSize]="3"
    [hidePageSize]="true" (page)="getPageData($event)"></mat-paginator>
  <!--<div *ngIf="!accommodations || accommodations.length === 0">
      <p class="notfound">Nem található szállás.</p>
    </div>-->
</div>