.search-bar-container {
    max-width: 100%;
    min-width: 1120px;
    height: 280px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-image:  url("../../assets/img/bg.jpg");
}

.search-bar {
    max-width: 40%;
    min-width: 380px;
    height: 70px;
    margin-left: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    overflow-x: auto;
}

.search-button {
    max-width: 80px;
    min-width: 80px;
    background-color: #3F51B5;
    color: white;
    transform: scale(1.2);
    font-weight: normal;
    margin-right: 10px;
    margin-inline-start: auto;
}

.search-button-alternative {
    max-width: 195px;
    min-width: 195px;
    margin-left: 3px;
    height: 70px;
    background-color: #3F51B5;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    color: white;
    font-size: medium;
    text-indent: -7px;
}

input {
    max-width: 50%;
    min-width: 300px;
    height: 63px;
    border: 0px;

    font-size: x-large;
    font-weight: lighter;
    letter-spacing: 1px;
}

input:active {
    border: 0px;
    outline: none;
}

input:focus {
    border: 0px;
    outline: none;
}

input::placeholder {
    font-size: x-large;
}