{{ accommodation.id }}
<!--<div class="grid">
<mat-form-field appearance="fill" class="example-form-field">
    <mat-date-range-input [formGroup]="reserveForm" (ngSubmit)="submitReserve( acco )" [rangePicker]="rangePicker"
        [min]="todayDate">
        <input matStartDate formControlName="startDate" placeholder="Start date">
        <input matEndDate formControlName="endDate" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Mégse</button>
            <button mat-raised-button (click)="submitReserve( acco )" color="primary"
                matDateRangePickerApply>Kész</button>
        </mat-date-range-picker-actions>
    </mat-date-range-picker>
</mat-form-field>

<button mat-button>TÖBB KÉP</button>
<button mat-button class="reserve" (click)="rangePicker.open()">FOGLALÁS</button>
</div>-->