.text {
    max-width: 100%;
    min-width: 800px;
    margin-left: 10%;
    text-align: left;

    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.05;

    font-weight: lighter;
    font-size: xx-large;
    font-style: italic;
}

.first-line {
    margin-bottom: 15px;
}

.second-line {
    text-indent: 20px;
}

.third-line {
    text-indent: 35px;
}

mark {
    background-color: #F5F5F5;
    cursor: pointer;
}

b {
    color: #3F51B5;
}

.thin-bold {
    font-weight: 500;
}

.title {
    margin-top: 100px;
    font-weight: 500;
    font-size: xx-large;
}

.alt-search {
    margin-top: 30px;
    max-width: 100%;
    min-width: 880px;
    min-height: 300px;
}

mat-grid-list {
    max-width: 100%;
    min-width: 880px;
}

mat-grid-tile {
    max-width: 100%;
    height: auto;
    border: 15px solid white;
    cursor: pointer;
}

mat-grid-tile-footer {
    font-size: x-large;
}