<div class="text">
    <p class="first-line">Legyen Ön is <b>Partner</b></p>
    <p class="second-line">itt kiadhatja a megüresedett nyaralóhelyeit ,</p>
    <p class="third-line"><mark routerLink="/information">kattintson ide</mark> a kezdéshez .</p>
    <br>
    <p class="first-line">Csak böngészni jött ?</p>
    <p class="second-line">
        <mark *ngIf="!isLoggedIn" routerLink="/auth">regisztráljon</mark> 
        <mark *ngIf="isLoggedIn">regisztráljon</mark>
        vagy 
        <mark *ngIf="!isLoggedIn" routerLink="/auth">jelentkezzen be</mark>
        <mark *ngIf="isLoggedIn">jelentkezzen be</mark>
         és lefoglalhatja</p>
    <p class="third-line">a megkedvelt <b class="thin-bold">szállásokat</b> .</p>
</div>

<div class="alt-search">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2
            <mat-grid-tile-header>
                <h3> header example </h3>
              </mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>3
            <mat-grid-tile-footer>
                <h3> footer example</h3>
              </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
</div>